[submodule "deps/plog"]
	path = deps/plog
	url = https://github.com/SergiusTheBest/plog
[submodule "usrsctp"]
	path = deps/usrsctp
	url = https://github.com/sctplab/usrsctp.git
[submodule "deps/libjuice"]
	path = deps/libjuice
	url = https://github.com/paullouisageneau/libjuice
[submodule "deps/httplib"]
	path = deps/httplib
	url = https://github.com/yhirose/cpp-httplib.git
[submodule "deps/json"]
	path = deps/json
	url = https://github.com/nlohmann/json.git
